main {
  width: 100vw;
  height: 100vh;
}

.panel-container {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.panel {
  transition: 0.3s ease;
}

.server-panel-navigation {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 200ms linear;
  padding: 12px;
  gap: 8px;
}

.navigation-panel {
  width: 240px;
  display: flex;
  flex-direction: row;
  background: var(--background-color-2);
}

.navigation-panel-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms linear;
}

.navigation-panel-server-navigation-list {
  overflow-y: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.navigation-panel-server-navigation-list::-webkit-scrollbar {
  width: 0px;
}

.navigation-panel-server-navigation-list-item {
  position: relative;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: var(--background-color-3);
  min-width: 48px;
  width: 48px;
  min-height: 48px;
  height: 48px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  list-style-type: none;
}

.navigation-panel-server-navigation-list-item.active,
.navigation-panel-server-navigation-list-item:hover {
  background-color: var(--primary-color);
}

.navigation-panel-server-navigation-list-item > a {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.navigation-panel-server-navigation-list-item-tooltip {
  display: none;
  transition: 0.3s ease-in-out;
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--title-color);
  padding: 4px 8px;
  white-space: nowrap;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
}

.navigation-panel-server-navigation-list-item-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent transparent;
}

.navigation-subpanel-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 240px;
}

.navigation-header {
  position: relative;
  flex: 0 0 auto;
  padding: 0 10px;
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 hsl(0 calc(1 * 0%) 0.8% / 0.2),
    0 1.5px 0 hsl(240 calc(1 * 7.7%) 2.5% / 0.05),
    0 2px 0 hsl(0 calc(1 * 0%) 0.8% / 0.05);
}

.navigation-panel-subpanel-navigation-list {
  height: fit-content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navigation-panel-subpanel-navigation-list-item {
  text-indent: 10px;
  display: flex;
  align-items: center;
  height: 42px;
  cursor: pointer;
}

.navigation-panel-subpanel-navigation-list-item a {
  color: inherit;
  font-size: inherit;
  width: 100%;
  height: 100%;
  line-height: 42px;
}

.navigation-panel-subpanel-navigation-list-item:hover,
.navigation-panel-subpanel-navigation-list-item.active {
  color: var(--title-color) !important;
  background-image: linear-gradient(
    to left,
    rgba(34, 34, 34, 1) 0%,
    rgba(53, 53, 53, 0) 100%
  );
}

.navigation-panel-subpanel-navigation-list-item::after {
  content: "";
  right: 0;
  top: 18px;
  width: 3px;
  height: 42px;
  background-color: white;
  display: none;
}

.navigation-panel-subpanel-navigation-list-item:hover::after,
.navigation-panel-subpanel-navigation-list-item.active::after {
  display: inline-block;
}

.navigation-subpanel-content-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}

.navigation-subpanel-content-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-subpanel-content-container ul li {
  height: 40px;
  padding: 4px 8px;
  list-style-type: none;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.navigation-subpanel-content-container ul li:active,
.navigation-subpanel-content-container ul li.active,
.navigation-subpanel-content-container ul li:hover {
  background-color: var(--background-color-5);
}

.navigation-subpanel-content-container ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.avatar {
  min-width: 30px;
  max-width: 30px;
  width: 30px;
  min-height: 30px;
  max-height: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  color: var(--title-color);
}

.user-profile-list-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-profile-list-container > span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  color: var(--title-color);
}

.user-profile-list-container > span.username {
  color: var(--text-color);
  font-size: 12px;
}

.settings-icon-container {
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32.5px;
  min-height: 32.5px;
  width: 32.5px;
  height: 32.5px;
  cursor: pointer;
  border-radius: 7px;
}

.settings-icon-container:hover {
  background-color: var(--background-color-5);
}

.app-panel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.app-panel-header {
  background-color: var(--background-color-3);
  height: 48px;
  padding: 8px;
  line-height: 32px;
  color: var(--title-color);
  box-shadow: 0 1px 0 hsl(0 calc(1 * 0%) 0.8% / 0.2),
    0 1.5px 0 hsl(240 calc(1 * 7.7%) 2.5% / 0.05),
    0 2px 0 hsl(0 calc(1 * 0%) 0.8% / 0.05);
  z-index: 1;
}

.app-panel-content-container {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.app-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--background-color-3);
}

.details-panel {
  width: 240px;
  background: var(--background-color-2);
}

.message-date-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.message-date-separator::before,
.message-date-separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--title-color);
}

.message-date-separator:not(:empty)::before {
  margin-right: 0.25em;
}

.message-date-separator:not(:empty)::after {
  margin-left: 0.25em;
}

.chat-message-container {
  padding: 8px;
  overflow-y: scroll;
  height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--background-color-2);
}

::-webkit-scrollbar-thumb {
  background: var(--background-color-5);
}

.chat-message-grouped-date-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}

.message-container {
  display: flex;
  gap: 8px;
  position: relative;
}

.message-content-and-file-container:hover .message-container-avatar {
  opacity: 1 !important;
}

.message-content-and-file-container:hover .message-content,
.message-content-and-file-container:hover .message-file-container {
  background-color: var(--background-color-5);
}

.message-container-avatar {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  font-size: 12px;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.message-icons {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  gap: 8px;
}

.message-icons span {
  cursor: pointer;
  line-height: 24px;
}

.message-container:hover .message-icons {
  display: flex;
}

.message-file-container {
  margin-left: 32px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.message-file-container img {
  width: 70%;
}

.message-file-container video {
  height: 200px;
}

.message-file-container a:hover {
  text-decoration: underline !important;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.popup {
  background-color: var(--background-color-2);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  min-width: 450px;
  width: 100%;
}

.popup.media-growed img,
.popup.media-growed video {
  height: unset;
  width: 100%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

@keyframes pulse {
  0% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }
}

[data-skeleton="true"] {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 5;
  animation-fill-mode: none;
}

.spinner {
  animation: rotate 2s linear infinite;
}

.spinner .path {
  stroke: var(--title-color);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.spinner .path.primary {
  stroke: var(--primary-color);
  color: var(--title-color);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.ai-assistant-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 120px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--button-border-color);
  border-top-left-radius: 8px;
  border-bottom: none;
  border-right: none;
  z-index: 9;
}

.ai-assistant-container.collapsed {
  height: 52.5px;
}

.ai-assistant-container.expanded {
  max-height: 400px;
  width: calc(100% - 72px - 240px);
  height: fit-content;
  border-top-left-radius: 0px;
  border-left: none;
}

.ai-assistant-container-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.ai-assistant-container-header > span {
  color: var(--title-color);
  line-height: 32.5px;
}

.ai-assistant-container-body {
  background-color: var(--background-color-2);
}

.ai-assistant-message-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-3);
  gap: 8px;
  max-height: calc(400px - 52.5px - 52.5px);
}

.ai-assistant-message-container .user-message {
  align-self: flex-end;
  background-color: var(--background-color-5);
  color: var(--title-color);
  padding: 10px;
  border-radius: 15px;
  margin-left: auto;
  width: 70%;
  min-width: 70%;
  max-width: 70%;
  font-weight: 400;
}

.ai-assistant-message-container .ai-bot-message {
  align-self: flex-start;
  background-color: var(--background-color-4);
  color: var(--title-color);
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
  width: 70%;
  min-width: 70%;
  max-width: 70%;
  font-weight: 500;
}

.ai-assistant-chat-message-container {
  width: 100%;
  display: flex;
  outline: none;
  border-radius: 4px;
  height: fit-content;
  padding: 10px;
  line-height: 24px;
  gap: 8px;
  align-items: center;
}

body:has(.video-chat) .ai-assistant-container.expanded {
  width: 100%;
}

body:has(.video-chat.small) .ai-assistant-container.expanded {
  width: calc(100% - 72px - 240px);
}

select {
  width: 32px;
  height: 56px;
  font-size: 16px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  background-color: var(--background-color-5);
  color: var(--title-color);
  outline: none;
  appearance: none;
  background-image: url("../../public/vercel.svg");
  background-repeat: no-repeat;
}

select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}
