main {
  width: 100vw;
  height: 100vh;
}

.app-header {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid var(--light-background-color);
}

.app-header-title {
  display: flex;
  width: 230px;
  min-width: 230px;
  gap: 8px;
}

.app-header .app-header-title h4 {
  padding: 0 8px;
  border-left: 1px solid var(--light-background-color);
  line-height: 30px;
  height: 30px;
  width: 100%;
}

.app-header .app-header-search {
  width: calc(100% - 230px - 230px);
  border-left: 1px solid var(--light-background-color);
  border-right: 1px solid var(--light-background-color);
  padding: 0 24px;
}

.app-header .app-header-search input {
  border-radius: 8px;
  height: 30px;
}

.app-header .app-header-notification {
  display: flex;
  flex-direction: row-reverse;
  width: 230px;
  min-width: 230px;
  gap: 10px;
}

.panel-container {
  display: flex;
  overflow: hidden;
}

.panel {
  height: calc(100vh - var(--header-height));
  transition: 0.3s ease;
}

.navigation-panel {
  width: 238px;
  display: flex;
  flex-direction: row;
}

.navigation-panel-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms linear;
}

.navigation-panel-server-navigation-list {
  overflow-y: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.navigation-panel-server-navigation-list::-webkit-scrollbar {
  width: 0px;
}

.navigation-panel-server-navigation-list-item {
  position: relative;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: var(--light-background-color);
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  list-style-type: none;
}

.navigation-panel-server-navigation-list-item.active,
.navigation-panel-server-navigation-list-item:hover {
  outline: 2px solid rgba(255, 120, 58, 0.5);
  background-color: var(--primary-color);
}

.navigation-panel-server-navigation-list-item > a {
  display: inline-block;
  line-height: 30px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.navigation-panel-server-navigation-list-item-tooltip {
  display: none;
  transition: 0.3s ease-in-out;
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--title-color);
  padding: 4px 8px;
  white-space: nowrap;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
}

.navigation-panel-server-navigation-list-item-tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent transparent;
}

.navigation-subpanel-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border-left: 1px solid var(--light-background-color);
}

.navigation-panel-subpanel-navigation-list {
  height: fit-content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.navigation-panel-subpanel-navigation-list-item {
  text-indent: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.navigation-panel-subpanel-navigation-list-item a {
  color: inherit;
  font-size: inherit;
  width: 100%;
}

.navigation-panel-subpanel-navigation-list-item:hover,
.navigation-panel-subpanel-navigation-list-item.active {
  color: var(--title-color) !important;
  background-image: linear-gradient(
    to left,
    rgba(34, 34, 34, 1) 0%,
    rgba(53, 53, 53, 0) 100%
  );
}

.navigation-panel-subpanel-navigation-list-item::before {
  content: "";
  right: 0;
  top: 18px;
  width: 3px;
  height: 36px;
  background-color: white;
  display: none;
}

.navigation-panel-subpanel-navigation-list-item:hover::before,
.navigation-panel-subpanel-navigation-list-item.active::before {
  display: inline-block;
}

.navigation-subpanel-content-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 8px;
  border-top: 1px solid var(--light-background-color);
  overflow: auto;
}

.navigation-subpanel-content-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-subpanel-content-container ul li {
  height: 40px;
  padding: 4px 8px;
  list-style-type: none;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.navigation-subpanel-content-container ul li:active,
.navigation-subpanel-content-container ul li.active,
.navigation-subpanel-content-container ul li:hover {
  background-color: var(--light-background-color);
}

.navigation-subpanel-content-container ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.navigation-subpanel-content-container ul li a > span {
  display: inline-flex;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.navigation-subpanel-content-container ul li a > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-panel {
  width: 238px;
}

.app-panel {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--light-background-color);
  border-right: 1px solid var(--light-background-color);
  width: calc(100% - 238px - 238px);
}

.message-date-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.message-date-separator::before,
.message-date-separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--title-color);
}

.message-date-separator:not(:empty)::before {
  margin-right: 0.25em;
}

.message-date-separator:not(:empty)::after {
  margin-left: 0.25em;
}

.chat-message-container {
  padding: 8px;
  overflow-y: scroll;
  height: 100%;
}

.chat-message-container::-webkit-scrollbar {
  width: 3px;
}

.chat-message-container::-webkit-scrollbar-track {
  background: var(--secondary-background-color);
}

.chat-message-container::-webkit-scrollbar-thumb {
  background: var(--light-background-color);
}

.chat-message-grouped-date-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}

.message-container {
  display: flex;
  gap: 8px;
  position: relative;
}

.message-content-and-file-container:hover .message-container-avatar {
  opacity: 1 !important;
}

.message-content-and-file-container:hover .message-content,
.message-content-and-file-container:hover .message-file-container {
  background-color: var(--light-background-color);
}

.message-container-avatar {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  font-size: 12px;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 7px;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.message-icons {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  gap: 8px;
}

.message-icons span {
  cursor: pointer;
  line-height: 24px;
}

.message-container:hover .message-icons {
  display: flex;
}

.message-file-container {
  margin-left: 32px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.message-file-container img {
  width: 70%;
}

.message-file-container video {
  height: 200px;
}

.message-file-container a:hover {
  text-decoration: underline !important;
}

.user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.popup {
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 500px;
  min-width: 450px;
  width: 100%;
}

.popup.media-growed img,
.popup.media-growed video {
  height: unset;
  width: 100%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

@keyframes pulse {
  0% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }
}

[data-skeleton="true"] {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 5;
  animation-fill-mode: none;
}

.spinner {
  animation: rotate 2s linear infinite;
}

.spinner .path {
  stroke: var(--title-color);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.spinner .path.primary {
  stroke: var(--primary-color);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
