.form_container {
  align-content: center;
  border-radius: 20px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  position: relative;
  width: 100%;
  z-index: 1;
  height: min-content;
  background-color: var(--secondary-background-color);
}
