:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-color: 21, 21, 24;
  --foreground-lighter-color: 85, 85, 101;
  --background-color: 255, 255, 255;
  --primary-color: 36, 165, 120;
  --primary-color-hover: 22, 133, 97;
  --primary-color-active: 9, 82, 60;
  --secondary-background-color: 247, 247, 248;

  --button-border-color: 229, 229, 229;
  --button-background-color: 255, 255, 255;

  --button-hover-border-color: 180, 180, 183;
  --button-hover-background-color: 240, 240, 240;

  --button-active-border-color: 143, 143, 160;
  --button-active-background-color: 229, 229, 229;

  --error-color: 209, 26, 70;
  --error-background-color: 255, 220, 228;
  --error-input-active-background-color: 255, 241, 245;

  --success-color: 9, 82, 60;
  --success-background-color: 218, 249, 240;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: rgb(var(--foreground-color));
  background: rgb(var(--secondary-background-color));
}

input,
textarea,
select,
button,
p,
label,
span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: sans-serif;
}

button {
  height: fit-content;
  width: 100%;
  padding: 6px 16px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(var(--button-border-color));
  color: inherit;
  background-color: rgb(var(--button-background-color));
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.1) 0px 2px 0px 0px inset;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

button.primary {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.08) 0px -2px 0px 0px inset,
    rgba(255, 255, 255, 0.1) 0px 2px 0px 0px inset;
  border: 1px solid rgb(var(--primary-color));
  background-color: rgb(var(--primary-color));
}

button:hover {
  background-color: rgb(var(--button-hover-background-color));
  border-color: rgb(var(--button-hover-border-color));
}

button.primary:hover {
  background-color: rgb(var(--primary-color-hover));
  border-color: rgb(var(--primary-color-hover));
}

button:active {
  background-color: rgb(var(--button-active-background-color));
  border-color: rgb(var(--button-active-border-color));
}

button.primary:active {
  background-color: rgb(var(--primary-color-active));
  border-color: rgb(var(--primary-color-active));
}

input {
  height: fit-content;
  width: 100%;
  padding: 6px 16px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(var(--button-border-color));
  color: inherit;
  background-color: rgb(var(--button-background-color));
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px 0px;
}

input:hover {
  border: 1px solid rgb(var(--button-hover-border-color));
}

input:active {
  border: 1px solid rgb(var(--button-hover-border-color));
  background-color: rgb(var(--button-hover-background-color));
}

input.error {
  border-color: rgb(var(--error-color)) !important;
}

input.error:active {
  background-color: rgb(var(--error-input-active-background-color)) !important;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
label,
span {
  line-height: 1.25;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: underline;
}

.error-text {
  color: rgb(var(--error-color));
}

.success-text {
  color: rgb(var(--success-color));
}

.error-background {
  background-color: rgb(var(--error-background-color));
}

.success-background {
  background-color: rgb(var(--success-background-color));
}
