.chat_file_preview_container {
  gap: 10px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.chat_file_preview_container::-webkit-scrollbar {
  width: 30px;
  height: 10px;
}

.chat_file_preview_container::-webkit-scrollbar-track {
  background: var(--light-background-color);
}

.chat_file_preview_container::-webkit-scrollbar-thumb {
  background: var(--secondary-background-color);
}

.chat_message_container {
  width: 100%;
  display: flex;
  background-color: var(--input-background-color);
  outline: none;
  border-radius: 4px;
  height: fit-content;
  padding: 8px;
  line-height: 24px;
  gap: 8px;
  align-items: center;
}

.chat_file_preview_item {
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  padding: 8px;
}

.chat_file_preview_item svg {
  transition: 0.3s ease-in-out;
}

.chat_file_preview_item > div svg {
  fill: var(--text-color);
  transition: 0.3s ease-in-out;
}

.chat_file_preview_item span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat_file_preview_item svg:hover {
  fill: var(--title-color);
}

.chat_file_preview_item img {
  height: 100px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  object-fit: scale-down;
  overflow: hidden;
}

.chat_file_preview_item video {
  cursor: pointer;
  border-radius: 4px;
}
