.rbc-calendar {
  min-width: 280px;
}

.rbc-calendar button {
  width: unset;
  border-radius: 0;
  color: var(--title-color);
}

.rbc-off-range-bg {
  background-color: var(--background-color-5) !important;
}

.rbc-today {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: var(--primary-color) !important;
}

.rbc-off-range,
.rbc-toolbar button:hover,
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: var(--title-color);
}
