.video-chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: var(--background-color);
  padding: 1rem;
  gap: 1rem;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
  z-index: 3;
}

.video-chat.small {
  padding: 0.5rem;
  width: 300px;
  height: fit-content;
  border: 2px solid var(--button-border-color);
  background-color: var(--button-background-color);
  cursor: move;
  position: absolute;
  gap: 8px;
}

.video-chat-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  height: calc(100vh - 2rem - 56px - 1rem);
}

.video-chat.small .video-chat-container {
  height: fit-content;
}

#screen-share-video-container {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

#screen-share-video-container > * {
  display: none;
}

#screen-share-video-container .video.active {
  flex: 1;
  position: relative;
  width: 100%;
  display: flex;
}

#video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
}

#video-container .video {
  background-color: var(--button-background-color);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}

.video-chat.small #video-container .video video {
  width: 134px;
  height: 100px;
}

#screen-share-video-container .video video,
#video-container .video video {
  background-color: var(--button-background-color);
  width: 100%;
  height: 100%;
  display: block;
}

#video-container .video .muted-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.name {
  background-color: var(--background-color-2);
  color: var(--title-color);
  right: 0;
  font-size: 12px;
  line-height: 12px;
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: fit-content;
}

#screen-share-video-container:has(> .video.active) + #video-container {
  flex-direction: column;
}

#screen-share-video-container:has(> .video.active) + #video-container .video,
#screen-share-video-container:has(> .video.active)
  + #video-container
  .video
  video {
  max-height: 15vh;
  height: 15vh;
  min-height: 15vh;
}

#screen-share-video-container:not(:has(> .video.active)) {
  display: none;
}

#screen-share-video-container:not(:has(> .video.active)) + #video-container {
  width: 100%;
}

#screen-share-video-container:has(> .video.active) + #video-container {
  width: 192px;
  min-width: 192px;
  max-width: 192px;
}

#screen-share-video-container:not(:has(> .video.active))
  + #video-container
  .video {
  width: calc(50% - 0.5rem);
}

.video-chat .video-action-button-container svg {
  stroke: none;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.video-chat.small .video-action-button-container svg {
  width: 14px;
  height: 14px;
}

.video-chat .video-action-button-container button.icon-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
}

.video-chat.small .video-action-button-container button.icon-button {
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: var(--input-background-color);
}

.video-chat .video-action-button-container {
  height: 56px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.video-chat.small .video-action-button-container {
  height: 24px;
}

.video-chat .video-action-button-container .leave-button {
  background-color: #f50057 !important;
  color: white;
}
